# Ignorowanie pliku z ustawieniami dołączonych bibliotek (najlepiej skopiować sobie z innego projektu)
.classpath

# Ignorowanie katalogu ze zbudowanymi klasami
build

# Ignorowanie pliku z informacjami o katalogu (Linux)
.directory

# Ignorowanie plików z katalogu z ustawieniami (test)
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml

# Ignorowanie katalogu z ustawieniami (test)
#.settings
